<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="userSelected($event)"></app-user>
      <app-user [user]="users[1]" (select)="userSelected($event)"></app-user>
      <app-user [user]="users[2]" (select)="userSelected($event)"></app-user>
      <app-user [user]="users[3]" (select)="userSelected($event)"></app-user>
      <app-user [user]="users[4]" (select)="userSelected($event)"></app-user>
    </li>
  </ul>
  <app-task [name]="selectedUser?.name"></app-task>

</main>
